absl-py
attrs
cffi
contourpy
cycler
flatbuffers
fonttools
kiwisolver
matplotlib
mediapipe
numpy
opencv-contrib-python
opencv-python
packaging
Pillow
libgl1-mesa-glx
libglib2.0-0
protobuf
pycparser
pyparsing
python-dateutil
six
sounddevice
streamlit
opencv-python-headless
mediapipe
numpy
python-dotenv
agno
groq

# Agentic part

agno
python-dotenv
groq
googlesearch-python
pycountry
