# Core dependencies
streamlit
numpy
Pillow
python-dateutil
python-dotenv
packaging
pyparsing
attrs
six

# OpenCV (no GUI issues)
opencv-python-headless

# Visualization
matplotlib
cycler
contourpy
fonttools
kiwisolver

# Media & processing
mediapipe
sounddevice
cffi
pycparser
flatbuffers
protobuf

# Agentic / AI-related
agno
groq
googlesearch-python
pycountry
